:root {
  --background-blue: #2f3b4c;
  --section-blue: #374659;
  --dark-blue: #161f27;
  --darker-blue: #0e1b25;
  --blue-gray: #283341;
  --blue-lightgray: #3a4a5e;
  --black: #000;
  --cherry: rgb(128, 26, 77);
  --gray: #f5f5f5;
  --links: rgb(65, 173, 255);
  --white: rgb(219, 219, 219);
  --red: #ff0000;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
}

body {
  background-color: var(--background-blue);
  color: var(--white);
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 175px; */
  padding: 12px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  background-color: var(--blue-lightgray);
  border-bottom: 12px solid var(--background-blue); /* Nicer transition when scrolling main */
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 24px;
  gap: 24px;
}

.top-row > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

main {
  margin-top: 250px; /* header height */
}

button {
  all: unset;
  cursor: pointer;
  color: var(--links);
}

button:hover {
  color: hotpink;
}

label {
  cursor: pointer;
}

h1 {
  margin: 0;
}

h2,
h3 {
  margin: 12px 0 6px 0;
  padding: 0;
}

.section {
  display: none;
}

.section.selected {
  margin: 0 24px;
  display: inline-block;
}

div.section-tab {
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  border-radius: 5px 5px 0 0;
  background-color: var(--blue-lightgray);
}
div.section-tab.selected {
  background-color: var(--background-blue);
}

.instrument {
  margin: 6px 0;
}

.group {
  margin: 24px 0;
  background-color: var(--background-blue);
}

.scroll-container {
  width: 1344px;
  overflow-x: scroll;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  scroll-snap-type: mandatory;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  align-items: flex-start;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.group-settings {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-settings > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.dot-indicator {
  display: inline-block;
}

.dot {
  display: inline-block;
  margin: 0 3px;
}

.step-no-seq,
.note-seq,
.controller-seq {
  height: 84px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: flex-start;
}

.step-no-seq {
  height: 42px;
}

.controller-seq {
  height: 14px;
}

.step {
  display: inline-block;
  height: 84px;
  border: 1px solid var(--blue-lightgray);
  cursor: pointer;
}

.step.off {
  background-color: transparent;
}

.step.on {
  background-color: var(--darker-blue);
}

.step.cc {
  display: inline-block;
  height: 42px;
  border: 1px solid var(--blue-lightgray);
  cursor: pointer;
}

.step-no-seq > .step {
  border: 1px solid var(--blue-lightgray);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--links);
  width: 84px;
  font-size: 14px;
  padding: 0;
}

.step-no-seq > div:nth-of-type(4n + 1) {
  background-color: var(--blue-gray);
}

.note-seq > .step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.note-seq > .step.playing {
  border-bottom: 5px solid hotpink;
}

.note-seq > .step > div {
  height: 81px;
  width: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.pitch-up,
.pitch-down,
.velocity-btn {
  font-size: 14px;
  display: none;
  color: var(--white);
}

.note-seq > .step:hover > div > div > button,
.note-seq > .step:hover > div > button {
  display: inline;
}

.note-seq > .step:hover > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.note-seq > .step.off {
  background-color: transparent;
}

.pitch-up:hover,
.pitch-down:hover,
.velocity-btn:hover {
  color: var(--links);
}

.controller-seq > .step {
  height: 14px;
}

.pitch-no {
  margin-bottom: 2px;
}

.blink {
  animation: blink 250ms infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.queue-section {
  opacity: 1;
  opacity: 0.25;
  cursor: pointer;
}
.queue-section.hide {
  opacity: 0;
  cursor: default;
}

.queue-section.blink {
  animation: blink 250 infinite;
  cursor: default;
}

.queue-section.playing {
  opacity: 1;
  cursor: default;
}
