:root {
  --background-blue: #2f3b4c;
  --dark-blue: #161f27;
  --darker-blue: #0e1b25;
  --blue-gray: #283341;
  --blue-lightgray: #3a4a5e;
  --black: #000;
  --cherry: rgb(128, 26, 77);
  --gray: #f5f5f5;
  --links: rgb(65, 173, 255);
  --white: rgb(219, 219, 219);
  --red: #ff0000;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-blue);
  color: var(--white);
  padding: 24px 64px;
}

button {
  all: unset;
  cursor: pointer;
}

button:hover {
  color: var(--links);
}

.scrollgroup {
  width: 1344px;
  overflow-x: scroll;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  scroll-snap-type: mandatory;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  align-items: flex-start;
}

.scrollgroup::-webkit-scrollbar {
  display: none;
}

.step-no-indicator,
.pattern,
.controller-track {
  height: 84px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: flex-start;
}

.step-no-indicator {
  margin-top: 64px;
  height: 42px;
}

.step-no-indicator > div {
  border: 1px solid var(--blue-lightgray);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--links);
  width: 84px;
  font-size: 14px;
  padding: 0;
}

.step-no-indicator > div:nth-of-type(4n + 1) {
  background-color: var(--blue-gray);
}

.step {
  display: inline-block;
  height: 84px;
  border: 1px solid var(--blue-lightgray);
  cursor: pointer;
}

.step.off {
  background-color: transparent;
}

.step.on {
  background-color: var(--darker-blue);
}

.step.cc {
  display: inline-block;
  height: 42px;
  border: 1px solid var(--blue-lightgray);
  cursor: pointer;
}
