:root {
  --background-blue: #2f3b4c;
  --dark-blue: #161f27;
  --darker-blue: #0e1b25;
  --blue-gray: #283341;
  --blue-lightgray: #3a4a5e;
  --black: #000;
  --cherry: rgb(128, 26, 77);
  --gray: #f5f5f5;
  --links: rgb(65, 173, 255);
  --white: rgb(219, 219, 219);
  --red: #ff0000;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-blue);
  color: var(--white);
  padding: 24px 64px;
}

button {
  all: unset;
  cursor: pointer;
}

button:hover {
  color: var(--links);
}

div.step {
  width: 10px;
  height: 36px;
  border: 2px solid var(--darker-blue);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1px;
}

div.step:hover {
  background-color: var(--black);
}

.step-64n {
  width: 21px;
}

.step-32n-dot {
  width: 63px;
}
.step-32n {
  width: 42px;
}
.step-16n-dot {
  width: 126px;
}

.step-16n {
  width: 84px;
}

.step-16t {
  width: 28px;
}

.step-8n-dot {
  width: 252px;
}

.step-8n {
  width: 168px;
}

.step-8t {
  width: 56px;
}

.step-4n-dot {
  width: 504px;
}

.step-4n {
  width: 336px;
}

.step-4t {
  width: 112px;
}

.step-2n-dot {
  width: 1008px;
}

.step-2n {
  width: 672px;
}

.step-2t {
  width: 224px;
}

.step-1n {
  width: 1344px;
}

.step-1t {
  width: 448px;
}

.step-1t2 {
  width: 896px;
}

.row-frame {
  width: 1344px;
  overflow-x: scroll;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  scroll-snap-type: mandatory;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  align-items: flex-start;
}

.row-frame::-webkit-scrollbar {
  display: none;
}

.row-container {
  height: 84px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: flex-start;
}

.row-container > div {
  display: inline-block;
  height: 84px;
  border: 1px solid var(--blue-lightgray);
  gap: 0px 0px;
  cursor: pointer;
}
.row-container:nth-of-type(1) {
  margin-top: 64px;
  height: 42px;
}
.row-container:nth-of-type(1) > div {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--links);
  width: 84px;
  font-size: 14px;
  padding: 0;
}

.row-container:nth-of-type(1) > div:nth-of-type(4n + 1) {
  background-color: var(--blue-gray);
}
